[Unit]
Description=Analyze nagios hoststate
Before=nagios.service

[Service]
Type=forking
User=nagios
Group=nagios
ExecStartPre=/bin/mkfifo /var/spool/nagios/hoststate.socket
ExecStart=/usr/local/scripts/hoststate-monitor.pl --start
ExecStop=/usr/local/scripts/hoststate-monitor.pl --stop
ExecStopPost=/usr/bin/rm -f /var/spool/nagios/hoststate.socket
RestartSec=30
Restart=on-failure
PIDFile=/var/run/nagios/hoststate-monitor.pid

[Install]
WantedBy=multi-user.target
