[Unit]
Description=Nagios Core 4.4.6
Documentation=https://www.nagios.org/documentation
After=network.target local-fs.target hmonitor.service
PartOf=hmonitor.service

[Service]
Type=forking
User=nagios
Group=nagios
ExecStartPre=/usr/sbin/nagios4 -v /etc/nagios4/nagios.cfg
ExecStart=/usr/sbin/nagios4 -d /etc/nagios4/nagios.cfg
ExecStop=/usr/bin/kill -s TERM ${MAINPID}
ExecStopPost=/usr/bin/rm -f /var/rw/nagios.cmd
ExecReload=/usr/sbin/nagios4 -v /etc/nagios4/nagios.cfg
ExecReload=/usr/bin/kill -s HUP ${MAINPID}
RestartSec=30
Restart=on-failure

[Install]
WantedBy=multi-user.target
